.setting-container {
  display: flex;
  height: 100vh;
  .setting-menu {
    height: 100vh;
    > ul {
      height: 100vh;
    }
  }
  .setting-content {
    flex: 1;
    display: flex;
    padding: 16px 10px 0px 0px;
    overflow: auto;
  }
}
