.setting-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 14px;
  form {
    width: 100%;
  }
  .btn-container {
    margin-bottom: 16px;
    display: flex;
    justify-content: space-evenly;
  }
}
